.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
  .homepage #catAbb,
  .homepage #go,
  .homepage .leftlinks #cl_app_beta,
  .no-js,
  p.more {
    display: none;
  }

  #logo {
    font-size: 2.5rem;
  }

  .homepage-search .querybox {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid #464646;
    font-size: 16px;
  }

  .menu.collapsible > li {
    cursor: pointer;
  }

  .menu.collapsible > li.expand.s ul {
    display: block;
  }


  .menu.collapsible > li ul {
    display: none;
  }
  * {
    background-color: #F5F5F5 ;
    font-family: Helvetica, sans-serif;
    color: #464646;
  }
  a {
    text-decoration: none;
  }

  ul {
    padding:0px;
  }
  ul > li{
    list-style: none;
  }
  a:hover{
    color: #800080;
    font-weight: bold;
  }
  a > span:hover{
    color: #800080;
    font-weight: bold;
  }
  @media screen and (width <= 1200px){

  }
  .page-container{
    width: 1200px;

  }
  #leftbar, #center, #rightbar{
     float: left;
     padding-top:  0px;
     padding-bottom:  0px;
     padding-left:  30px;
     padding-right: 30px;
     box-sizing: border-box;

  }
  footer{
    clear:both
  }
  #leftbar, #rightbar{
    width: 25%;
  }
  #center{
  width: 50%;
  border: solid 1px #464646;
  border-radius: 10px;

  }
   #center > div{
    float: left;
    width: 33%;
  }

  #topban h2{
  text-align: center;
  }
  ul+.clfooter{
  text-align: center;
  border-top: solid 1px gray;
  padding-top:10px ;
  padding-bottom: 10px ;
  padding-left: 0px ;
  padding-right:0px ;

  }
  ul.clfooter > li{
    display: inline;
    padding-right: 5px;
  }
  h4.ban::before{
    content: "☮️"
  }
  td{
    border: solid 1px #333;
    text-align: center;
  }
  .cal{
  border-collapse: collapse;
  }
  link{
    color: bold, green;
  }
}
